SERVICE_NAME="cals-backend"

DATABASE_PORT=5432
DATABASE_HOST="localhost"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres_dev_password"
DATABASE_NAME="cals_backend_dev"

DATABASE_URL=""

# Keys and Secrets
LLM_OPENAI_API_KEY=""
LLM_GEMINI_API_KEY=""
LLM_GROK_API_KEY=""